<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="vangabond-form">
        <h2>  Hi Dude</h2>
        <p>see below the details about your profile </p>
        <div class="text-center">
          <% if current_user.avatar? %>
          <%=cl_image_tag(@user.avatar.path, { size: '70x70', crop: :thumb, gravity: :face }) %>
          <% elsif %>
          <%= image_tag current_user.facebook_picture_url %>
          <% else %>
          <%= image_tag "logo.png" %>
          <% end %>
        </div>

        <p> First name: <%= @user.first_name %> </p>
        <p> Last name: <%= @user.last_name %> </p>
        <p> Your email: <%= @user.email %></p>
        <p> Birthday: <%= @user.date_of_birth %></p>
        <p> Home: <%= @user.location %></p>
        <p> Driving Licence: <%= @user.driving_license %></p>
        <p> Date of issue: <%= @user.date_of_issue %></p>
        <div class="text-center">
          <%= link_to 'Edit my profile', edit_user_registration_path , class:"btn btn-primary" %>
          <%= link_to 'Add a van', new_car_path, class:"btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
