 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,160,82,0.5), rgba(255,241,82,0.2) 60%), url(<%= image_path('banner1.jpg')%>);">
  <div class="banner-content">
    <h1>Vangabond</h1>
    <p>Rent a unique car for your next roadtrip</p>



    <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.country_select(:country) %>
        <%= f.input :category, :collection => %w[Surf Family Camping WineTour Sightseeing Adventure] %>
        <%= f.input :seats, collection: 1..9, input_html: {style: "width: 120px", class: "seats-select"} %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "vangabond-form-btn" %>
      </div>
    <% end %>


    <!-- <form action="#" class="form-inline">
    <input type="text" class="form-control input-lg" placeholder="Starting point" >
    <input type="text" class="form-control input-lg" placeholder="pickup" >
      <input type="text" class="form-control input-lg" placeholder="drop-off" >
      <select name id class="form-control input-lg">
        <option value="1">1 seat</option>
        <option value="2">2 seats</option>
        <option value="3">3 seats</option>
        <option value="4">4 seats</option>
        <option value="5">5 seats</option>
        <option value="6">6 seats</option>
        <option value="7">7 seats</option>
        <option value="8">8 seats</option>
        <option value="9">9 seats</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search!">
    </form> -->
  </div>
</div>

<!-- Your cards code -->
<div class="padded">
  <div>
    <h2 class="text-center">Trip ideas</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
              <!-- insert <div class="card"> -->

          <div class="card" style="background-image: linear-gradient(-225deg, rgba(255,160,82,0.5),
          rgba(255,241,82,0.4)), url(<%= image_path('surf_suggestion_card.jpg')%>)">
            <div class="card-category">
              Portugal
            </div>
            <div class="card-description">
              <h2>Surf trip</h2>
              <p>Hit the beach in style</p>
            </div>
            <a href="#" class="card-link"></a>
          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- insert <div class="card"> -->

          <div class="card" style="background-image: linear-gradient(rgba(255,160,82,0.5),
          rgba(255,241,82,0.4)), url(<%= image_path('camping_suggestion_card.jpg')%>)">
            <div class="card-category">
              Canada
            </div>
            <div class="card-description">
              <h2>Camping</h2>
              <p>Explore nature with your family fully equipped</p>
            </div>
            <a href="#" class="card-link"></a>
          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <!-- insert <div class="card"> -->

          <div class="card" style="background-image: linear-gradient(rgba(255,160,82,0.5),
          rgba(255,241,82,0.4)), url(<%= image_path('adventure_suggestion_card.jpg')%>)">
            <div class="card-category">
              Australia
            </div>
            <div class="card-description">
              <h2>Adventure</h2>
              <p>Find the perfect van for the craziest trip</p>
            </div>
            <a href="#" class="card-link"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Why you should become a Vangabonder -->
<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="why-vangabond">
          <h1><span>RENT</span> A VANGABOND</h1>
          <h2>Enjoy the simplicity, security and style of private car rental</h2>
          <div class="top-padding">
            <p>Explore listings all over the world</p>
            <p>Contact renters for free</p>
            <p>Book directly online</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="why-vangabond">
          <h1><span>LIST</span> A VANGABOND</h1>
          <h2>Get access to customers and generate more revenue</h2>
          <div class="top-padding">
            <p>List your Vangabond for free</p>
            <p>Choose your guests</p>
            <p>Get paid directly</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
